.message-box
  .message-box__header
    .profile-picture
      img(src=image)
    .message-box__header__name #{name}
  .message-box__messages#messages-container
  .message-box__input
    form#form-send-message
      input.message-box__input__content#message-content(type="text")
      button.message-box__input__button#send-message(type="submit") Send